/**
* Radio Circles
*/
.onp-radio-wrap.onp-radio-circles {
    margin: 0px;
    white-space: nowrap;
}
.onp-radio-wrap.onp-radio-circles .onp-radio-option {
    margin: 0px;
    padding: 0px;
    
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    
    background-color: #efefef;
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbfbfb 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbfbfb 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbfbfb 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbfbfb 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
.onp-radio-wrap.onp-radio-circles .onp-radio-option-inner-wrap {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    
    box-shadow: inset 0px 1px 1px #fff;
}

.onp-radio-wrap.onp-radio-circles .onp-radio-option + .onp-radio-option {
    margin-left: 10px;
}
.onp-radio-wrap.onp-radio-circles .onp-radio-option:hover {
    background: #fbfbfb;
    cursor: pointer;
}
.onp-radio-wrap.onp-radio-circles .onp-radio-option:active,
.onp-radio-wrap.onp-radio-circles .onp-radio-option.selected
{
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35);
    
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #fbfbfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#fbfbfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#fbfbfb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#fbfbfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
}
.onp-radio-wrap.onp-radio-circles .onp-radio-option:active .onp-radio-option-inner-wrap,
.onp-radio-wrap.onp-radio-circles .onp-radio-option.selected .onp-radio-option-inner-wrap {
    box-shadow: 0px 1px 1px #fff;
}
.onp-radio-wrap.onp-radio-circles .onp-radio-option.disabled {
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
    background: #f3f3f3;
    cursor: default;
}
.onp-radio-wrap.onp-radio-circles .onp-radio-option.disabled .onp-radio-option-inner-wrap {
    box-shadow: 0px 1px 1px #fff;
}