/**
* Groups
*/

.fy-group .fy-group-legend {
    padding: 9px 12px;
    background-color: #f9f9f9;
}
.fy-group .fy-group-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #555;
    margin: 0px;
}
.fy-group .fy-group-hint {
    margin: 0px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
}
.pi-vertical-tabs .fy-group .fy-group-legend {

}


/**
* Collapsed groups
*/

.fy-collapsed-content {
    border-top: 1px dashed #DDD;
    padding-top: 25px;
    width: 100%;
    padding-right: 20px;
    position: relative;
}
.pi-vertical-tabs .fy-collapsed-show {
    margin-left: 120px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dotted #21759b;
}
.pi-vertical-tabs .fy-collapsed-show:hover {
    border-color: #d54e21;
}
.pi-vertical-tabs .fy-collapsed-hide {
    position: absolute;
    margin-top: -34px;
    background-color: #fff;
    padding: 0 5px;
    right: 20px;
    color: #bbb;
    text-decoration: none;
}
.pi-vertical-tabs .fy-collapsed-hide:hover {
    color: #999;
}

/**
* Metaboxes
*/

.pi-metabox {
    padding: 15px 10px 10px 10px;
}
.pi-metabox .control-group:last-child {
    margin-bottom: 0px;
}

.control-label .control-icon {
    float: right;
    margin-left: 10px;
    position: relative;
    top: 1px;
}

/**
* Switch
*/

.pi-switch-enable, 
.pi-switch-disable, 
.pi-switch-enable span, 
.pi-switch-disable span { 
    background: url(../img/switch.png) repeat-x; 
    display: block; 
    float: left; 
}

.pi-switch:hover .pi-switch-enable,
.pi-switch:hover .pi-switch-disable,
.pi-switch:hover .pi-switch-enable span,
.pi-switch:hover .pi-switch-disable span {
    background-image: url(../img/switch-hover.png);  
}

.pi-switch.disable .pi-switch-enable,
.pi-switch.disable .pi-switch-disable,
.pi-switch.disable .pi-switch-enable span,
.pi-switch.disable .pi-switch-disable span {
    background-image: url(../img/switch-disable.png);  
}

.pi-switch-enable span, 
.pi-switch-disable span { 
    line-height: 30px; 
    display: block; 
    background-repeat: no-repeat; 
    font-weight: bold; 
}
.pi-switch-enable span { 
    background-position: left -90px; padding: 0 10px; 
}
.pi-switch-disable span { 
    background-position: right -180px;
    padding: 0 10px;
}
.pi-switch-disable.selected { background-position: 0 -30px; }
.pi-switch-disable.selected span { background-position: right -210px; color: #fff; }
.pi-switch-enable.selected { background-position: 0 -60px; }
.pi-switch-enable.selected span { background-position: left -150px; color: #fff; }

.pi-switch {
    overflow: hidden;
    width: 82px;
}
.pi-switch label { cursor: pointer; }
.pi-switch input { display: none; }

.form-horizontal .pi-switch + .help-block { margin-top: 6px; }

/**
* Pi Radio
*/

.pi-radio .active {
    background-color: #4691b1;
    color: #fff;
    text-shadow: none;
}

/**
* Pi Checkbox
*/
.pi-checkbox button {
    padding: 4px 10px;
}
.pi-checkbox .true.active {
    background-color: #4691b1;
    color: #fff;
    text-shadow: none;
}
.pi-checkbox .false.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #8f8f8f;

}
.pi-checkbox button i {
      background-image: url("../img/glyphicons-halflings.png");
}
.pi-checkbox .active i {
    background-image: url("../img/glyphicons-halflings-white.png");
}

/**
* Tabs
*/
.pi-tabs {
    overflow: hidden;
}
.pi-tabs + .control-group {
    margin-top: 30px;
}

.pi-tab-contens-wrap {
    background-color: #fff;
    -webkit-border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    border-radius: 0 3px 3px 3px;
    border: 1px solid #DDD;
    padding: 25px 10px 10px 10px;
}
.pi-tab-hint {
    padding: 0 0 15px 11px;
}
.pi-tab-with-icon a {
    padding-left: 42px !important;
    background-repeat: no-repeat;
    background-position: 9px 50%;
}
.pi-tab-headers-wrap .nav-tabs {
    border-bottom: 0px;
}

.pi-vertical-tabs .pi-tab-contens-wrap {
    padding: 30px 35px 25px 10px;
}
.pi-vertical-tabs .nav-tabs {
    width: 180px;
    float: left;
    display: block;
    margin: 0px;
    background-color: #f9f9f9;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.pi-vertical-tabs .nav-tabs li {

    float: none;
}
.pi-vertical-tabs .nav-tabs li a {

    margin-right: -1px;
    margin-bottom: 0px;
    position: relative;
    z-index: 10;
    padding: 10px 0 9px  15px;
    
    -webkit-border-radius: 4px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 4px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.pi-vertical-tabs .nav-tabs > .active > a
{
    border: 1px solid #DDD !important;
    border-right: 1px solid #fff !important;
    
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.04); 
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.04); 
    box-shadow: 0px 1px 3px rgba(0,0,0,0.04);
}
.pi-vertical-tabs .nav-tabs > li a:hover
{
    color: #21759B;
    z-index: 5;
    border-color: transparent;
}
.pi-vertical-tabs .control-label {
    width: 100px;
}
.pi-vertical-tabs .controls {
    margin-left: 120px;
}
.pi-vertical-tabs .controls input[type=text],
.pi-vertical-tabs .controls textarea
{
    width: 90%;
    
}

/**
* Side metaboxes
*/

#side-sortables .wpbootstrap .control-label {
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
    top: 1px;
}
#side-sortables .wpbootstrap .control-icon {
    float: left;
    margin: 0 6px 0 0;
}
#side-sortables .wpbootstrap .pi-checkbox,
#side-sortables .wpbootstrap input
{
    float: right;
    position: relative;
    top: -25px;
}
#side-sortables .help-block {
    padding-right: 110px;
}
#side-sortables .wpbootstrap .controls {
    margin: 0px;
}
.wpbootstrap .control-group {
    float: none;
    margin-top: 0px;
    width: auto;
}
#side-sortables .wpbootstrap .control-group {
    margin-bottom: 15px;
}
#side-sortables .wpbootstrap .control-group + .control-group {
    border-top: 1px solid #dfdfdf;
    padding-top: 15px;
}