.column-shortcode input {
    width: 300px;
    border: 0px;
    background-color:  transparent;
    font-size: 12px;
    font-family: "Consolas", Tahoma, Arial;
    padding: 5px;
    background-color: #f8f8f8;
}
.column-shortcode {
	width: 30%;
}