/**
* Social Tabs
*/

.pi-vertical-tabs .nav-tabs li {
    padding-left: 32px;
    background: #f6f6f6 url("../img/drag.png") 5px 50% no-repeat;
    cursor: move;
}
.sortable-placeholder {
    height: 40px;
    background: #f3f3f3 !important;
    margin: 0px !important;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.15);
    border-bottom-left-radius: 4px;
}
.pi-vertical-tabs .nav-tabs {
    width: 150px;
}
.pi-vertical-tabs .nav-tabs li:hover {
    background-image: url("../img/drag-hover.png") !important;
}
.pi-tab-with-icon a {
    background-position-y: 6px;
}
.pi-vertical-tabs .nav-tabs .pi-tab-title-twitter.pi-tab-gray a {
    background-image: url("../img/twitter-tab-gray.png");
}
.pi-vertical-tabs .nav-tabs .pi-tab-title-facebook.pi-tab-gray a {
    background-image: url("../img/facebook-tab-gray.png");
}
.pi-vertical-tabs .nav-tabs .pi-tab-title-google.pi-tab-gray a {
    background-image: url("../img/google-tab-gray.png");
}

.pi-vertical-tabs .nav-tabs li a {
    cursor: pointer;
}
.pi-vertical-tabs .nav-tabs {
    background-color: transparent;
}
.pi-vertical-tabs .pi-tab-hint {
    padding-left: 4px;
}

/**
* Locker Preview
*/

#SociallockerPreviewMetaBox {
    background: url("../img/preview-bg.png") top left;
}
#SociallockerPreviewMetaBox .inside {
    padding: 0px;
    margin: 0px;
}
#SociallockerPreviewMetaBox .hndle {
  margin-bottom: 0px;
}
#SociallockerPreviewMetaBox .note {
    background: rgba(0,0,0,0.03) url("../img/arrow-icon.png") 8px 7px no-repeat;
    padding: 10px 20px 8px 30px;
    margin: 0px;
}

#sociallocker_twitter_content {
    background: #fff url("../img/tweet-content-bg.png") no-repeat 50% 50%;
}

#lock-preview {
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    line-height: 24px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#SociallockerSupportMetaBox .inside {
    text-align: justify;
    line-height: 150%;
    padding: 0px 15px;
}
#SociallockerSupportMetaBox ul {
    list-style: square;
    padding-left: 30px;
}
#SociallockerSupportMetaBox .pi-highlight {

}
#SociallockerSupportMetaBox .pi-highlight a {
    background-color: #21759B;
    color: #fff;
    text-decoration: none;
    padding: 2px 5px;
}
#SociallockerSupportMetaBox .pi-highlight a:hover {
    background-color: #3185aB;

}

#sociallocker_facebook_id_error {
    margin-top: 10px;
    padding: 10px 10px 8px 10px;
    background-color: #FFEBE8;
    border: 1px solid #C00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#url-error {
    margin-top: 10px;
    padding: 10px 10px 8px 10px;
    background-color: #FFEBE8;
    border: 1px solid #C00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pageid-notice {
    margin-top: 10px;
    padding: 10px 10px 8px 10px;
    background-color: lightYellow;
    border: 1px solid #E6DB55;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pageid-notice p {
    margin: 0px;
}

/* if ( factory_build('free' ) { */

/**
* More Features?
*/
#SociallockerMoreFeatures {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 63%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 63%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 63%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 63%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 63%,rgba(246,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

    border-radius: 5px;
    border: 1px solid #d3d3d3;
    box-shadow: 0px 2px 1px #c9c9c9;
    padding: 20px;
    box-sizing: border-box;
}
#SociallockerMoreFeatures .hndle, 
#SociallockerMoreFeatures .handlediv {
    display: none;
}
#SociallockerMoreFeatures .inside {
    padding: 0px;
    margin: 0px;
    color: #797979;
    font-size: 14px;
    line-height: 150%;
}
#SociallockerMoreFeatures .sl-header {
    text-align: center;
    padding-bottom: 15px;
}
#SociallockerMoreFeatures .sl-header p {
    margin: 0px;
}
#SociallockerMoreFeatures .sl-header strong {
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    display: block;
    margin-bottom: 10px;
}
#SociallockerMoreFeatures .progress {
    margin: 5px 0 0 0;
}
#SociallockerMoreFeatures .sl-seporator {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #fff;
    width: 90%;
    margin: auto;
}
#SociallockerMoreFeatures .sl-footer {
    text-align: center;
    padding-top: 20px;
}
#SociallockerMoreFeatures .sl-footer .btn {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    
    display: block;
    
    -webkit-box-sizing: border-box;    
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
}
#SociallockerMoreFeatures .sl-footer .btn span {
    font-size: 8px;
}
#SociallockerMoreFeatures .sl-footer .sl-buy {
    margin-top: 5px;
    display: block;
    text-decoration: none;
    color: #333;
}
#SociallockerMoreFeatures .sl-footer .sl-buy:hover {
    text-decoration: underline;
}
#SociallockerMoreFeatures .sl-footer p {
    margin: 0 0 15px 0;
}
#SociallockerMoreFeatures ul {
    padding-left: 5px;
}
#SociallockerMoreFeatures ul li {
    margin: 0px;
    background: url("../img/cross_close.png") left center no-repeat;
    padding: 9px 0 11px 40px;
    line-height: 100%;
}
#SociallockerMoreFeatures ul li span {
    border-bottom: 1px dotted #797979;
    cursor: help;
}

.qtip.advanced-function-demo { 
    max-width: none;
}
.advanced-function-demo .advanced-themes {
    width: 565px;
    height: 541px;
    background-image: url("../img/advanced-themes.png");
}
.advanced-function-demo .advanced-options {
    width: 302px;
    height: 607px;
    background-image: url("../img/advanced-functions.png");
}
.advanced-function-demo .advanced-support {
    width: 403px;
    height: 323px;
    background-image: url("../img/advanced-support.png");
}
.advanced-function-demo .advanced-stats {
    width: 634px;
    height: 317px;
    background-image: url("../img/advanced-stats.png");
}
.advanced-function-demo .advanced-social-options {
    width: 776px;
    height: 593px;
    background-image: url("../img/advanced-social-options.png");
}
.advanced-function-demo .qtip-content {
    padding: 10px !important;
}

/* } */