#sociallocker-next-activate-premium-key {  
    background: #e9ebee url("../img/offer-background-color.png");
    color: #262729;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    border-color: #bbbbbb;
    padding: 10px;
}
#sociallocker-next-activate-premium-key .factory-message-container a {
    color: #262729;
}
#sociallocker-next-activate-premium-key .factory-button {
    background: #5672ad;
    border: 1px solid #2e3847;
    color: #fff;
}
#sociallocker-next-activate-premium-key .factory-button:hover {
    color: #fff !important;
    background-color: #f0a000;
    border-color: #c87800;
    -webkit-transition-duration: .3s;
    outline: none;
    -moz-box-shadow: inset 0 0 2px #fff, 0 1px 7px rgba(240,160,0,0.5);
    -webkit-box-shadow: inset 0 0 2px #fff, 0 1px 7px rgba(240,160,0,0.5);
    box-shadow: inset 0 0 2px #fff, 0 1px 7spx rgba(240,160,0,0.5);
}
#sociallocker-next-activate-premium-key .highlighted {
    background-color: rgba(0,0,0,0.05);
}
#sociallocker-next-activate-premium-key .highlighted:hover {
    background-color: rgba(0,0,0,0.1);
}
#sociallocker-next-activate-premium-key .factory-inner-wrap {
    padding-left: 90px !important;
    background: url("../img/offer-logo.png") 5px center no-repeat;
}

