.wpbootstrap {
    padding-right: 15px;
}
#chart-settings-bar {
    height: 50px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    -webkit-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#chart-type-select {
    float: left;
    white-space: nowrap;
}
#chart-date-select {
    float: right;
}
#chart-type-select > * {
    display: inline-block;
}
#chart-date-select > * {
    display: inline-block; 
    vertical-align: top;
}
.date-range-label {
    position: relative;
    top: 7px;
    left: -4px;
}
#date-start, #date-end {
    width: 100px;
    height: 28px;
}

.chart-wrap {
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.chart-notice {
    padding: 10px;
    background-color: lightYellow;
    border-top: 1px solid #E6DB55;
    border-bottom: 1px solid #E6DB55;
    margin-bottom: 20px;
    position: relative;
}

/**
* Charts selector
*/

#chart-selector {

    padding-bottom: 15px;
}
#chart-selector .chart-item {
    display: inline-block;
    clear: both;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    color: #e0e0e0;
}
#chart-selector .chart-item.active {
    color: #111;
}
#chart-selector .chart-item:hover
{ 
    background-color: #f9f9f9;
}
#chart-selector .chart-item + .chart-item {
    margin-left: 15px;
}
#chart-selector .chart-color {
    width: 15px;
    height: 15px;
    float: left;
    background-color: #e5e5e5;
    margin-right: 5px;
}
#chart-selector .active.facebook-like .chart-color {
    background-color: #7089be;
}
#chart-selector .active.facebook-share .chart-color {
    background-color: #566a93;
}
#chart-selector .active.twitter-tweet .chart-color {
    background-color: #3ab9e9;
}
#chart-selector .active.twitter-follow .chart-color {
    background-color: #1c95c3;
}
#chart-selector .active.google-plus .chart-color {
    background-color: #e26f61;
}
#chart-selector .active.google-share .chart-color {
    background-color: #ba5145;
}
#chart-selector .active.linkedin-share .chart-color {
    background-color: #006080;
}

#posts-table {
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
}
#posts-table th {
   
    text-align: left;
    padding: 8px 10px 8px 6px;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}
#posts-table td {
    padding: 9px 6px 9px 6px;
    text-align: right;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 13px;
}
#posts-table tbody tr:nth-child(odd) {
    background-color: #F8F8F8;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}
#posts-table .col-index {
    width: 1%;
}
#posts-table .col-number {
    width: 100px;
}
#posts-table .col-title {
    text-align: left;
}
#posts-table .col-title a {
    text-decoration: none;
}
#posts-table .col-title a:hover {
    text-decoration: underline;
}
#posts-table td.col-total {
    background-color: #F7F7F7;
    font-weight: bold;
}
#posts-table tbody tr:nth-child(odd) td.col-total {
    background-color: #F3F3F3;
}

